Repository NVIDIA/TensorRT-Incubator, pull requests merged in 2024-08, with the labels that each got.

#23 Switch np/cp.allclose to tp.allclose and add bool support to tp.allclose
  tripy/tests/integration/test_conv_transpose.py
  tripy/tests/integration/test_functional.py
  tripy/tests/integration/test_matrix_multiplication.py
  tripy/tests/integration/test_plugin.py
  tripy/tests/integration/test_reduce.py
  tripy/tests/integration/test_unary_elementwise.py
  tripy/tests/integration/test_unsqueeze.py
  tripy/tripy/frontend/ops/allclose.py
  tripy/tripy/frontend/ops/gelu.py
  tripy/tripy/frontend/ops/relu.py
  tripy/tripy/frontend/ops/sigmoid.py
  tripy/tripy/frontend/ops/silu.py
  tripy/tripy/frontend/ops/softmax.py
  tripy/tripy/frontend/ops/tensor_initializers.py
  tripy/tripy/frontend/trace/ops/plugin.py
  tripy/tripy/frontend/trace/ops/unary_elementwise.py
Labels: enhancement

#53 [tripy] Fix gather operation when axis > 0
  tripy/tripy/frontend/trace/ops/gather.py
Labels: bug, tripy

#49 Add custom MLIR-TensorRT usage instruction to Tripy CONTRIBUTING.md
  tripy/CONTRIBUTING.md
Labels: documentation, tripy

#63 Add eps to LayerNorm ctor
  tripy/tripy/frontend/module/layernorm.py
Labels: tripy

#69 Add labeling workflow
  .github/labeler.yml
  .github/workflows/label.yml
Labels: tripy, mlir-tensorrt

#42 [tripy] Add some basic greedy constant-folding optimizations during t…
  tripy/pyproject.toml
  tripy/tests/flat_ir/ops/test_convolution.py
  tripy/tripy/backend/mlir/utils.py
  tripy/tripy/flat_ir/ops/concatenate.py
  tripy/tripy/flat_ir/ops/gather.py
  tripy/tripy/flat_ir/ops/get_dimension_size.py
  tripy/tripy/flat_ir/ops/reshape.py
  tripy/tripy/flat_ir/ops/slice.py
Labels: tripy

#82 Updates MLIR-TRT to include major version when loading TRT
  mlir-tensorrt/executor/lib/Utils/TensorRTDynamicLoader/TensorRTDynamicLoader.cpp
Labels: mlir-tensorrt

#58 [mlir-tensorrt] NFC: add contribution guidelines
  mlir-tensorrt/CONTRIBUTING.md
Labels: mlir-tensorrt

#73 Add read-only access to MemRefValue underlying pointer in Python bindings
  mlir-tensorrt/python/bindings/Runtime/RuntimePyBind.cpp
  mlir-tensorrt/test/python/mlir_tensorrt_runtime/test_create_memref.py
Labels: mlir-tensorrt

#67 Add integration/IR test cases for gather
  tripy/tests/flat_ir/ops/test_gather.py
  tripy/tests/frontend/trace/ops/test_gather.py
  tripy/tests/integration/test_gather.py
Labels: tripy

#62 Reduces container size, fixes Tripy dependencies, bumps version
  tripy/CHANGELOG.md
  tripy/Dockerfile
  tripy/pyproject.toml
  tripy/tests/common/test_array.py
  tripy/tests/common/test_utils.py
  tripy/tests/frontend/test_tensor.py
  tripy/tests/integration/test_dequantize.py
  tripy/tests/integration/test_functional.py
  tripy/tests/integration/test_quantize.py
  tripy/tripy/__init__.py
  tripy/tripy/flat_ir/ops/plugin.py
Labels: tripy

#96 Allow containers of homogenous superclass in state dict
  tripy/tests/frontend/module/conftest.py
  tripy/tests/frontend/module/test_module.py
  tripy/tripy/frontend/module/module.py
Labels: tripy

#98 Update Convolution & GroupNorm for dynamic shapes
  tripy/tripy/frontend/module/conv_transpose.py
  tripy/tripy/frontend/module/convolution.py
  tripy/tripy/frontend/module/groupnorm.py
  tripy/tripy/frontend/module/layernorm.py
Labels: tripy

#57 Add external reference counting to AllocTracker
  mlir-tensorrt/executor/include/mlir-executor-c/Runtime/Runtime.h
  mlir-tensorrt/executor/include/mlir-executor/Runtime/API/API.h
  mlir-tensorrt/executor/lib/CAPI/Runtime/Runtime.cpp
  mlir-tensorrt/executor/lib/Runtime/API/API.cpp
  mlir-tensorrt/python/bindings/Runtime/RuntimePyBind.cpp
  mlir-tensorrt/test/python/mlir_tensorrt_runtime/test_create_memref.py
Labels: bug, mlir-tensorrt

#71 Added function `create_memref_view_from_dlpack`
  mlir-tensorrt/executor/include/mlir-executor-c/Runtime/Runtime.h
  mlir-tensorrt/executor/lib/CAPI/Runtime/Runtime.cpp
  mlir-tensorrt/python/bindings/Runtime/RuntimePyBind.cpp
  mlir-tensorrt/test/python/mlir_tensorrt_runtime/test_create_memref.py
Labels: enhancement, mlir-tensorrt

#92 [Tripy] Add `__len__` for `tp.Shape` and infer length statically when possible
  tripy/tests/frontend/test_shape.py
  tripy/tripy/frontend/shape.py
  tripy/tripy/frontend/trace/ops/base.py
  tripy/tripy/frontend/trace/ops/binary_elementwise.py
  tripy/tripy/frontend/trace/ops/cast.py
  tripy/tripy/frontend/trace/ops/concatenate.py
  tripy/tripy/frontend/trace/ops/copy.py
  tripy/tripy/frontend/trace/ops/expand.py
  tripy/tripy/frontend/trace/ops/fill.py
  tripy/tripy/frontend/trace/ops/flip.py
  tripy/tripy/frontend/trace/ops/gather.py
  tripy/tripy/frontend/trace/ops/permute.py
  tripy/tripy/frontend/trace/ops/reshape.py
  tripy/tripy/frontend/trace/ops/shape.py
  tripy/tripy/frontend/trace/ops/slice.py
  tripy/tripy/frontend/trace/ops/split.py
  tripy/tripy/frontend/trace/ops/utils.py
  tripy/tripy/frontend/trace/ops/where.py
Labels: tripy

#149 [Tripy] Add iterator implementation for `tp.Shape`
  tripy/tests/frontend/test_shape.py
  tripy/tripy/frontend/shape.py
Labels: tripy

#151 [Tripy][Docs] Recommend the use of `--pull always` to update the image in the contributing doc
  tripy/CONTRIBUTING.md
Labels: documentation, tripy

#25 Spec Verification
  tripy/docs/README.md
  tripy/docs/conf.py
  tripy/tests/common/test_utils.py
  tripy/tests/frontend/trace/ops/test_where.py
  tripy/tests/integration/test_conv_transpose.py
  tripy/tests/integration/test_quantize.py
  tripy/tests/spec_verification/README.md
  tripy/tests/spec_verification/object_builders.py
  tripy/tests/spec_verification/test_dtype_constraints.py
  tripy/tripy/backend/utils.py
  tripy/tripy/constraints.py
  tripy/tripy/dtype_info.py
  tripy/tripy/flat_ir/ops/convert.py
  tripy/tripy/frontend/ops/allclose.py
  tripy/tripy/frontend/ops/gelu.py
  tripy/tripy/frontend/ops/relu.py
  tripy/tripy/frontend/ops/sigmoid.py
  tripy/tripy/frontend/ops/silu.py
  tripy/tripy/frontend/ops/softmax.py
  tripy/tripy/frontend/ops/tensor_initializers.py
  tripy/tripy/frontend/trace/ops/base.py
  tripy/tripy/frontend/trace/ops/binary_elementwise.py
  tripy/tripy/frontend/trace/ops/cast.py
  tripy/tripy/frontend/trace/ops/concatenate.py
  tripy/tripy/frontend/trace/ops/copy.py
  tripy/tripy/frontend/trace/ops/expand.py
  tripy/tripy/frontend/trace/ops/fill.py
  tripy/tripy/frontend/trace/ops/flip.py
  tripy/tripy/frontend/trace/ops/gather.py
  tripy/tripy/frontend/trace/ops/iota.py
  tripy/tripy/frontend/trace/ops/matmul.py
  tripy/tripy/frontend/trace/ops/permute.py
  tripy/tripy/frontend/trace/ops/quantize.py
  tripy/tripy/frontend/trace/ops/reduce.py
  tripy/tripy/frontend/trace/ops/reshape.py
  tripy/tripy/frontend/trace/ops/shape.py
  tripy/tripy/frontend/trace/ops/slice.py
  tripy/tripy/frontend/trace/ops/split.py
  tripy/tripy/frontend/trace/ops/unary_elementwise.py
  tripy/tripy/frontend/trace/ops/unsqueeze.py
  tripy/tripy/frontend/trace/ops/where.py
  tripy/tripy/function_registry.py
  tripy/tripy/utils/utils.py
Labels: documentation, enhancement, tripy

#165 [Tripy][Bugfix] Ensure shape `__eq__` works with different lengths
  tripy/tests/frontend/test_shape.py
  tripy/tripy/frontend/shape.py
Labels: bug, tripy
